body {
    background-color: #eeeeee;
}

#container {
    width: 500px;
    background-color: white;
    margin: auto;
    font-family: Verdana, Sans-serif;
    min-height: 500px;
    background-color: rgb(200,255,200);
}

#header {
    height: 82px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    boarder: 0px;
}

#functionality {
    float: bottom;
    height: 20px;
    width: 100%;
}

#results {
    background-color: white;
    height: 100%;
    padding: 0px;
    margin: 0px;
    boarder: 0px;
}
#headername {
    font-size: 1.75em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 5px;
    margin: 0px;
    width: 100%;
    float: top;
}

#searchcontainer {
    float: right;
    width: 290px;
    padding: 0px 5px;
    height: 20px;
    display: inline-block;
}

#addpersonbtn {
    float: left;
    width: 190px;
    padding: 0px 5px;
    height: 20px;
    display: inline-block;
}

#addpersonbutton {
    background-color: #dddddd;
    height: inherit;
    font-weight: bold;
}

#searchinput {
    width: 100%;
}

#title {
    background-color: #dddddd;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

div.person {
    width: 490px;
    height: auto;
    min-height: 20px;
    display: inline-block;
    padding: 0px 5px;
}

.firstname {
    width: 115px;
    float: left;
    height: inherit;
}

.part2 {
    width: 375px;
    float: right;
    height: inherit;
}

.lastname {
    float: left;
    width: 115px;
    height: inherit;
}

.phonenumbers {
    float: right;
    width: 240px;
    height: inherit;
}

.phonenumber {
    float: top;
    height: 20px;
}

#addpersoncontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(240,240,240,0.6);
    z-index: 10;
    display: none;
}

#addperson {
    display: block;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    margin: -200px -200px;
}

.inputline {
    height: 25px;
    width: 100%;
}

.inputname {
    height: 25px;
    width: 30%;
    float: left;
    padding: 0px 5px;
}

.adddata {
    height: 19px;
    width: 65%;
    float: left;
}

.addphonenumber, .submitperson, .closeperson {
    background-color: #dddddd;
    height: inherit;
    font-weight: bold;
}

.addphonenumber {
    float: left;
    width: 150px;
}

.closeperson {
    float: right;
    width: 110px;
}

.submitperson {
    float: right;
    width: 110px;
}