<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="/js/phonebook.js"></script>
<head>
  <title>Phonebook</title>
  <link rel="stylesheet" type="text/css" href="css/phonebook.css"/>
</head>
<body  ng-app="phonebook"  ng-controller="phonebookCtrl">
  <div id="container">
    <div id="header">
      <h1 id="headername">Phonebook</h1>
      <div id="functionality">
	<div id="addpersonbtn">
	  <button ng-click="addperson()" id="addpersonbutton">Add Person</button>
	</div>
	<div id="searchcontainer">
	  <input id="searchinput" type="text" ng-change="update(searchCriteria)" ng-model="searchCriteria" placeholder="Search" value=""></input>
	</div>
      </div>
    </div>
    <div id="search">
      <div id="results">
	<div id="title">
	  <div class="person">
	    <div class="firstname">First Name</div>
	    <div class="part2">
	      <div class="lastname">Last Name</div>
	      <div class="phonenumbers">
		<div class="phonenumber">Phone Number</div>
	      </div>
	    </div>
	    <div class="line"></div>
	  </div>
	</div>
	<div class="person" ng-repeat="person in searchResults">
	  <div class="firstname">{{person.firstname}}</div>
	  <div class="part2">
	    <div class="lastname">{{person.lastname}}</div>
	    <div class="phonenumbers" ng-repeat="pn in person.phonenumber">
	      <div class="phonenumber">{{pn}}</div>
	    </div>
	  </div>
	  <div class="line"></div>
	</div>
      </div>
    </div>
  </div>
  <div id="addpersoncontainer">
    <div id="addperson">
      <form>
	<div class="inputline">
	  <div class="inputname">First Name: </div>
	  <input class="adddata" type="text" ng-model="person.firstname">
	</div>
	<div class="inputline">
	  <div class="inputname">Last Name: </div>
	  <input class="adddata" type="text" ng-model="person.lastname">
	</div>
	<div>
	  <div class="inputline" ng-repeat="(key,phonenumber) in person.phonenumber track by $index">
	    <div class="inputline">
	      <div class="inputname">Phone Number: </div>
	      <input class="adddata" type="text" value="person.phonenumber[$index]" ng-model="person.phonenumber[$index]">
	    </div>
	</div>
	  <div class="inputline">
	    <button class="addphonenumber" ng-click="addphonenumberline()">Add Phone Number</button>
	    <button class="closeperson" ng-click="closeperson()">Close</button>
	    <button class="submitperson" ng-click="submitperson(person)">Submit Person</button>
	  </div>
      </form>
    </div>
  </div>
</body>
</html>
